body {
    background-image: url('../assets/img/barbie-movie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 75px;
    color: rgb(255, 255, 255);
    text-align: center;

    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

